<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Example</title>
</head>
<body>
<div>
    Bonjour {{username}}
    <br/><br/>
    Vous habitez en {{country}}
    <br/><br/>
    {{#company}}
        Vous travaillez chez {{.}}
        <br/><br/>
    {{/company}}
    <br/><br/>
    Votre SSN : {{ssn}}
    <br/><br/>
    Vous avez {{childs}} enfant(s)
</div>

<div>
    <form action="/saveMessage" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <textarea name="msg" cols="40" rows="2"></textarea>
        <br> <input type="submit" value="Save Message" />
    </form>
</div>
<div>
    <h2>User Sessions</h2>
    <ul>
        {{#sessionMessages}}
            <li>{{.}}</li>
        {{/sessionMessages}}
    </ul>
</div>
<div>
    <form action="/delete" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Delete Session" />
    </form>
</div>
</body>
</html>